/*顶部区域*/

#nav{
	height: 60px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	display: none;
}
.top-right{
	float: right;
	display: inline-block;
	position: relative;
	right: 50px;
}
.top-right a{
	font-size: 18px;
	font-family: "微软雅黑";
	color: #f5f5f5;
	line-height: 60px;
}
.top-left a:first-child{
	position: absolute;
	top: 5px;
	left: 100px;
	line-height: 50px;
	color: #f5f5f5;
	font-size: 18px;
	font-family: "微软雅黑";
}
#logo{
	position: absolute;
	top: 10px;
	left: 50px;
	height: 40px;
	width: 40px;
}
#scrollTop{
	display: inline-block;
	background:url("F:/乱七八糟/GoForCredits/ZQD/要啥学分/images/scrollTop.png") no-repeat;
	width:100px;
	height:80px;
	right:4px;
	bottom:5px;	
	position: fixed;
	_position: absolute;
	cursor: pointer;
	display: none;

}
/*内容区域*/
#content{
	height: 300%;
	width: 100%;
	background-color: #f5f5f5;
}
.bgImg{
	width: 100%;
	z-index: -1;
}
/*社团介绍*/
#aboutUs{
	background-color: red;
}
#aboutUs div{
	display: inline-block;
}
/*最新动态*/
#latestNews{
	background-color: #f5f5f5;
	display: inline-block;
}
.newsContainer{
	background-color: #f5f5f5;
	margin: 5%;
}
.newsContainer img{
	width: 100%;
}
.newsAside{
	width: 35%;
	/*margin-left: 4%;
	margin-bottom: 10%;*/
	display: inline-block;
	border: 2px solid black;
}
.newsBig{
	overflow: hidden;
}
.newsRight{
	width: 60%;
	margin-top: 2%;
	/*margin-right: 3%;*/
}
.newsRight tr td{
	width: 30%;
	padding: 2%;
}
.newsRight .news{
	cursor: pointer;
	display: inline-block;
	border: 1px dotted black;
	background-color: #f5f5f5;
}
/*.newsRight .news{
	margin-bottom: 15%;
}*/
.news a{
	height: 30px;
	line-height: 30px;
	
}
.news a:link{
	color: black;
	font: bold 18px;
}
.news a:visited{
	color: grey;
	font-size: 18px;
}
.news p{
	text-align: right;
	font-size: 14px;
}
/*.news:nth-child(1){
	position: relative;
	left: 40%;
}
.news:nth-child(2){
	position: relative;
	left: 40%;
}
.news:nth-child(4){
	position: relative;
	left: 40%;
}
.news:nth-child(5){
	position: relative;
	left: 40%;
}*/

/*底部区域*/
#footer{
	height: 50%;
	width: 100%;
	text-align: center;
	background-color: black;
}
.QRCode{
	height: 50%;
	display: inline-block;
	margin-left: 2%;
	text-align: center;
}
.QRCode img{
	width: 100px;
	margin: 10px auto;
}
.textjoin{
	text-align: center;
	font: bold 32px "Arial";
	margin-bottom: 20px;
}
.copyright{
	text-align: center;
	margin-bottom: 20px;
}
.blocka{
	height: 20px;
	width: 100%;
	background-color: #f5f5f5;
}
.blockb{
	height: 20px;
	width: 100%;
	background-color: black;
}