@charset "utf-8";
/*pages*/
.pages {float:left; margin:30px auto 20px auto; text-align:center}
.pages a,.pages span{ display:inline-block;padding:6px 12px; margin-left:7px; border:1px #d5d5d5 solid; background:#fff; color:#333;border-radius:2px;}
.pages a:hover,.pages span,.pages a.on{ background:#233d9f; color:#fff;border-color:#233d9f;}
#wp_paging_w6 .wp_paging .pages_count{float: left;}
#wp_paging_w6 .wp_paging .page_nav{float: left;}
#wp_paging_w6 .wp_paging .page_jump{float: left;}
#wp_paging_w6 .wp_paging .page_jump span{float: right; margin: 0;}
#wp_paging_w6 .wp_paging .page_jump pages{margin: 0;}
#wp_paging_w6 .wp_paging .page_jump pageNum{margin: 0;}
#wp_paging_w6 .wp_paging .page_jump pagingJump{margin: 0;}

img{border:0;}
body{font-size:12px;font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;_font-family:'宋体';}
ul,ol,li {list-style-type:none;}
ul{padding-left:0;}
/*header*/
.header{background:#233d9f;color:#FFF;padding:10px 0;}
.header a{color:#FFF}
.header a:hover{color:yellow}
.neck .container{padding:0;}
/*menu
.menu{background:#233d9f;color:#FFF;width:100%;}
.menu a{color:#FFF;}
.menu li{background:url(../img/xt.png) no-repeat right center;padding:10px 0;}
.menu li:hover{background:#f86e01;}

.menu li:last-child{background:none;}
.menu li ul li{width:100%;background:none;padding:0;}
.menu li .arrow{background:url(../img/jt.png) no-repeat center;width:20px;height:25px;line-height:26px;border:0!important;border-left:0!important;;border-top:0!important;}
index*/
/*menu*/
.menu{background:#233d9f;color:#FFF;width:100%;}
.menu a{color:#FFF;}
.menu li{background:url(../img/xt.png) no-repeat right center;padding:10px 0;}
/*.menu li:last-child{background:none;}*/
.menu li.on,.menu li:hover{background:#f86e01;}
.menu li ul li{width:100%;background:none;padding:0;}
.menu li ul li:hover{background:#FFF;}
.menu li .arrow{background:url(../img/jt.png) no-repeat center;width:20px;height:25px;line-height:26px;border:0!important;border-left:0!important;;border-top:0!important;}
/*index*/
/*box1*/
.box1{margin:15px 0 20px 0;}
.slideBox{ width:100%; height:100%; overflow:hidden; position:relative;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:15px; bottom:8px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:54px; text-align:center; background:url(../img/dot1.png) no-repeat center;cursor:pointer; }
.slideBox .hd ul li.on{ background:url(../img/dot2.png) no-repeat center; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;position:relative; }
.slideBox .bd li .fdc{position:absolute;bottom:0;left:0;z-index:111;background:url(../img/dot_bg.png) repeat-x;width:100%;padding:10px 0;}
.slideBox .bd li .fdc a{padding-left:14px;color:#FFF;font-size:16px;}
.slideBox .bd img{ width:100%; height:100%; display:block;  }
/*学院新闻*/
.box1 .top_news{background:#fff;border:1px solid #ddd;padding:13px 13px 5px 13px;}
.catbox{background:url(../img/xt2.png) no-repeat bottom left;padding-bottom:10px;}
.catbox b{font-size:18px;color:#233d9f;padding:0 8px 0 2px;}
.catbox span{font-size:12px;color:#999;text-transform:uppercase;}
.catbox a.more{width:50px;height:18px;float:right;background:url(../img/more1.png) no-repeat center;margin:6px 2px 0 0}
.catbox a.more:hover{background:url(../img/more2.png) no-repeat center;}
.list_ul li{height:35px;line-height:35px;background:url(../img/dian1.png) no-repeat left center;padding-left:12px;margin-left:3px;}
.list_ul li:hover{background:url(../img/dian2.png) no-repeat left center;border-bottom:1px solid #233d9f;color:#233d9f;}
.list_ul li:hover span{color:#233d9f;}
.list_ul li a{color:#666;width:74%;height:35px;line-height:35px;overflow:hidden;float:left;}
.list_ul li span{color:#999;float:right;width:26%;height:35px;line-height:35px;overflow:hidden;text-align:right;}
.list_ul li a:hover{color:#233d9f;}

/*box2*/
.box2{background:#fff;border:1px solid #ddd;}
.tt1{padding:10px;}
.box2 .tui_gg{margin:15px 0 0 0;position:relative;}
.box2 .tui_gg .fdc2{position:absolute;z-index:111;bottom:10px;left:7px;background:url(../img/dot_bg.png) repeat-x;}
.box2 .tui_gg .fdc2 a{color:#FFF;font-size:16px;}
.box2 .tui_gg:hover img{filter:alpha(opacity=80);-moz-opacity:0.8; -khtml-opacity:0.8;opacity: 0.8;  }

.tt2{border-left:1px solid #ddd;border-right:1px solid #DDD;overflow:hidden;}
.tui_news{margin:15px 0;}
.tui_news div{position:relative;}
.tui_news div .fdc2{position:absolute;z-index:111;bottom:10px;text-align:center;width:100%;}
.tui_news div .fdc2 a{color:#FFF;font-size:14px;}
.tui_news div:hover img{filter:alpha(opacity=80);-moz-opacity:0.8; -khtml-opacity:0.8;opacity: 0.8;}

/*box3*/
.box3{background:#fff;border:1px solid #ddd;margin-top:16px;}
.tui_news3{margin:16px 0 0 0;line-height:25px;}
.tui_news3 .rel{position:relative;}
.tui_news3 .fdc3{position:absolute;z-index:111;left:0;bottom:5px;text-align:center;width:100%;background:url(../img/dot_bg.png) repeat-x;}
.tui_news3 .fdc3 a{color:#FFF;font-size:14px;}
.tui_news3 h6{padding-top:6px;}
.tui_news3 .time{color:#999;padding-top:8px;margin-bottom:5px;}
.rel{position:relative;}

.part1{margin:16px 0 11px 0;}
.part1 .fdc3{position:absolute;z-index:111;bottom:0px;left:0px;background:url(../img/dot_bg.png) repeat-x;width:100%;height:35px;line-height:35px;}
.part1 .fdc3 a{font-size:16px;color:#FFF;padding-left:10px;}
.part1:hover img{filter:alpha(opacity=80);-moz-opacity:0.8; -khtml-opacity:0.8;opacity: 0.8;}

.part2{padding-bottom:20px;overflow:hidden;margin-top:15px}
.part2 .xm6{position:relative;}
.part2 .fdc3{position:absolute;z-index:111;bottom:0px;left:0px;background:url(../img/dot_bg.png) repeat-x;width:100%;height:35px;line-height:35px;text-align:center;}
.part2 img{width:100%}
.part2 .fdc3 a{color:#FFF;font-size:14px;}
.part2 div:hover img{filter:alpha(opacity=80);-moz-opacity:0.8; -khtml-opacity:0.8;opacity: 0.8;}

.link1{margin:18px 0;}
.link1 li{padding:0 10px;background:url(../img/lk_bg1.jpg) repeat-x;border:1px solid #ccc;border-radius:5px;margin-bottom:16px;height:43px;line-height:40px;}
.link1 li:hover{background:url(../img/lk_bg2.jpg) repeat-x;border:1px solid #f86e01;}
.link1 li i{width:65px;height:43px;line-height:40px;float:left;text-align:center;}
.link1 li .i1{background:url(../img/ico_1.png) no-repeat center;}
.link1 li .i2{background:url(../img/ico_2.png) no-repeat center;}
.link1 li .i3{background:url(../img/ico_3.png) no-repeat center;}

.link1 li:hover .i1{background:url(../img/ico_01.png) no-repeat center;}
.link1 li:hover .i2{background:url(../img/ico_02.png) no-repeat center;}
.link1 li:hover .i3{background:url(../img/ico_03.png) no-repeat center;}
.link1 li a{font-size:16px;}
.link1 li:hover a{color:#FFF;}

/*link2*/
.link2 h2{border-left:3px solid #f86e01;color:#f86e01;height:20px;line-height:20px;padding-left:5px;margin-left:10px;}
.link2 ul{padding:18px 0 0 0;}
.link2 li{height:30px;line-height:30px;float:left;padding:0 18px 0 18px;}
.link2 li a{color:#777777;font-size:14px;}
.link2 li a:hover{color:#2172c9;text-decoration:underline;}
/*main*/
.main{background:#f1f1f1;padding:5px 0;}
.main .weizhi{margin:10px 0;height:25px;}
.main .weizhi span{background:#f86e01;color:#FFF;border-radius:0 15px 15px 0;padding:7px 20px;}
.main .weizhi a{color:#FFF;}
.main .weizhi a:hover{color:yellow}
.main .page_cont{background:#FFF;border:1px solid #DDD;overflow:hidden;clear:both;}
.main .page_cont2{background:#FFF;border:1px solid #DDD;overflow:hidden;clear:both;}
.main .page_cont .source{padding:10px 0;color:#999;border-bottom:1px solid #eee;}
/*footer*/
.footer{background:#233d9f;color:#FFF;text-align:center;padding:16px 0;}
.footer p{margin:4px 0;}
/*list*/
.type{background:url(../img/xt2.png) no-repeat bottom left;padding:10px 0;font-size:14px;color:#999;}
.type b{font-size:22px;color:#233d9f;padding-right:10px;}
.lists li{padding:14px 15px;border-bottom:1px solid #d2d2d2;}
.lists li i{width:15px;float:left;display:inline-block;height:45px;line-height:45px;float:left;background:url(../img/dian1.png) no-repeat center;margin-right:6px;}
.lists li:hover i{background:url(../img/dian2.png) no-repeat center;}
.lists li a{color:#666;}
.lists li a:hover{color:#233d9f;}
.lists li span{color:#999;}
.tt3{margin:0 3px;position:relative;overflow:hidden;}
/*sidebar*/
.sidebar{width:220px;}
.side_1{height:57px;line-height:57px;background:url(../img/side_1.png) no-repeat center;text-indent:25px;color:#cad6fb;font-size:26px;font-style:italic;font-weight:bold;}
.side_2{border:1px solid #ddd;padding:0 16px;}
.side2_box{background:url(../img/side_xian.png) repeat-y left top;margin-bottom:20px;}
.side2_box ul{padding-left:0;padding-top:16px;overflow:hidden;}
.side2_box ul li{line-height:36px;margin-bottom:16px;}
.side2_box ul li i{height:36px;line-height:36px;background:url(../img/side_3.png) no-repeat center;width:50px;float:left;}
.side2_box ul li a{font-size:16px;color:#444444;}
.side2_box ul li.on{background:url(../img/side_2.png) no-repeat left top;}
.side2_box ul li:hover{background:url(../img/side_2.png) no-repeat left top;}
.side2_box ul li.on a,.side2_box ul li:hover a{color:#03458e;}
.side2_box ul li:last-child{height:36px;margin-bottom:0;}
.side2_box ul li:last-child a{float:left;}
.side2_box ul li:last-child i{height:35px;line-height:12px;background:url(../img/side_301.png) no-repeat bottom center;float:left;}
.kg{background:#fff;width:100%;height:25px;}
.side2_box ul li ul{padding:6px 0 8px 26px;}
.side2_box ul li ul li{height:28px;line-height:33px;background:url(../img/side_4.png) no-repeat left center;padding-left:39px;margin-top:14px;margin-bottom: 0;}
.side2_box ul li.lev1:hover ul li{background:url(../img/side_4.png) no-repeat left center;}
.side2_box ul li ul li a{font-size:12px;color:#999}

@media (min-width: 1000px){
.header{position:absolute;top:0;left:0;z-index:1111;width:100%;}
.pfr{float:right;}
.menu li{width:10.8%;text-align:center;}
.menu li a{font-size:16px;}
.menu li a:hover{color:yellow;}
.menu .drop-menu{width:127px;}
.menu li ul li a{color:#FFF;}
.menu li ul li a:hover{color:#233d9f}
.main .page_cont{padding:24px 55px;}
.main .page_cont2{padding:30px 34px;}
.page_cont .show_title{font-size:24px;}
.main .page_cont .show_info{font-size:14px;line-height:24px;}
.main{padding-bottom:45px;}
.lists li{height:48px;line-height:48px;padding:0 15px}
.tui_news img{width:180px;height:110px;}

.tui_news div .fdc2{text-align:center;}
.tui_news3 .pad{padding:0 9px;}
.tt3{margin:0 5px;position:relative;}
}
@media (max-width: 1000px){
.menu .mlink{padding-top:8px;float:left;}	
.menu button{color:#FFF;}
.menu .button:hover,.menu .button:focus,.menu .button.bg:hover,.menu .button.bg:focus{color:#233d9f}
.menu .drop-menu{min-width:100%;position:relative;padding:6px 0;}
.menu .drop-menu li a{color:#FFF;}
.bg, .table .current, .table .current td, .table .current th, .button.active, .pointer.border .active, .nav-menu ul a:hover, .nav-menu.nav-pills .active ul a:hover, .bg-inverse .nav.nav-menu ul a:hover, .bg-inverse .nav.nav-menu .active ul a:hover, .bg-inverse .nav.nav-menu.nav-tabs ul a:hover, .bg-inverse .nav.nav-menu.nav-pills ul a:hover, .bg-inverse .nav-menu.nav-inline.nav-big ul a:hover, .navbar-body .nav ul a:hover{background:#f86e01;}
.nav-menu ul{padding:0;}
.main .page_cont{padding:15px 18px;}
.main .page_cont2{padding:15px;}
.show_info .tip1{margin:5px 0;}
img{max-width:100%;}
.show_info {line-height:2.1em;}
.main{padding-bottom:25px;}
.lists li {height:35px;line-height:35px;padding:5px 6px 5px 0;}
.lists li i{height:24px;line-height:24px;}
.lists li a{width:65%;height:24px;line-height: 24px;overflow:hidden;float:left;}
.lists li span{width:25%;height:24px;line-height: 24px;overflow:hidden;text-align: right;}
}
.Column_Name{
    color: rgb(248,110,1);
    font-size: 18px;
}