.top-nav > li{
	float: left;
	margin-left: 20px;
}

.top-nav>li{
	/*
list-style: none;
float: left;
width: 120px;
height: 40px;
background-color: blue;
margin-left: 10px;
text-align: center;
line-height: 40px;*/
position: relative;
}

.sub{
width: 120px;
position: absolute;
top: 40px;
left: 0px;
}

.sub li{
list-style: none;
background-color: white;
transform: rotateY(180deg);
transition: all 1s;
opacity: 0;
}

.top-nav>li:hover .sub li{
transform: none;
opacity: 1;
}

.top-nav>li:hover .sub li:nth-child(1){
transition-delay: 0ms;
}

.top-nav>li:hover .sub li:nth-child(2){
transition-delay: 200ms;
}

/*
.top-nav>li:hover .sub li:nth-child(3){
transition-delay: 400ms;
}
.top-nav>li:hover .sub li:nth-child(4){
transition-delay: 600ms;
}

.top-nav>li .sub li:nth-child(4){
transition-delay: 0ms;
}
.top-nav>li .sub li:nth-child(3){
transition-delay: 200ms;
}*/
.top-nav>li .sub li:nth-child(2){
transition-delay: 400ms;
}
.top-nav>li .sub li:nth-child(1){
transition-delay: 600ms;
}
