/*导航栏反转菜单特效*/
.top-nav{
	width: 100%;
	height: 100%;
}
.top-nav > li{
	float: left;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	list-style: none;
}
.top-nav > li p{
	color: white;
	font-size: 16px;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.sub li{
	background-color: rgba(0,0,0,0.7);
	transform: rotateY(180deg);
	transition: all 1s;
	opacity: 0;
}
.sub li,.sub li a{
	padding: 5px;
	color: #f5f5f5;
	height: 40px;
	z-index: 1;
	line-height: 40px;
}
.top-nav>li:hover{
	cursor: pointer;
}	
.top-nav>li:hover .sub li{
	background-color: rgba(0,0,0,0.5);
}
.top-nav>li:hover .sub li{
	transform: none;
	opacity: 1;
}
.top-nav>li:hover .sub li:nth-child(1){
	transition-delay: 0ms;
}
.top-nav>li:hover .sub li:nth-child(2){
	transition-delay: 200ms;
}
.top-nav>li .sub li:nth-child(2){
	transition-delay: 400ms;
}
.top-nav>li .sub li:nth-child(1){
	transition-delay: 600ms;
}