   <span class="hero__scroll" >
            <img class="chevron bottom " src="images/logo.png"></img>
        </span>

        
.hero__scroll {
  position: absolute;
  bottom: 250px;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  left: 0;
  right: 0;
  text-transform: uppercase; 
  color: #000; 
  }
  .hero__scroll .chevron {
    display: block;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    color: #FF4081; 
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }


}

}
		 